<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ProdService</title>
    <link rel="icon" href="/static/img/favicon1.png">
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" asp-src-include="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" asp-href-include="~/static/styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <div>
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" asp-src-include="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-src-include="~/lib/js/script.js" asp-append-version="true"></script>
</body>
</html>
